html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lavender;
}

h1 {
  color: white;
  font-family: verdana;
  background-color: mediumpurple;
  text-align: center;
  border: 2px solid RebeccaPurple;
  font-size: 300%
}

h2 {
  color: RebeccaPurple;
  font-family: verdana;
  font-size: 200%
}

p {
  font-family: perpetua;
  font-size: 120%;
  margin: 15px;
}

img {
  border: 2px solid RebeccaPurple;
}
a {color:RebeccaPurple;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: Indigo;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: RebeccaPurple;
}
.active {
  background-color: mediumpurple;
}

.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.contact {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: RebeccaPurple;
} 
.contact:hover {
  background-color: mediumpurple;
}


