html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lavender;
}

h1 {
  color: white;
  font-family: verdana;
  background-color: mediumpurple;
  text-align: center;
  border: 2px solid RebeccaPurple;
  font-size: 350%
}

h2 {
  color: RebeccaPurple;
  font-family: verdana;
  font-size: 200%
}

p {
  font-family: perpetua;
  font-size: 120%;
  margin: 15px;
}

dl {
font-family: perpetua;
  font-size: 120%;
  margin: 15px;
}

img {
  border: 2px solid RebeccaPurple;
}
a {color:RebeccaPurple;
  }
 ul{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: Indigo;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: RebeccaPurple;
}
.active {
  background-color: mediumpurple;
}


.contact {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: Indigo;
} 
.contact:hover {
   border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: RebeccaPurple;
}

.contact {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: RebeccaPurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
    }

.dropbtn {
  background-color: Indigo;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
      
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: RebeccaPurple;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
